/* Put your CSS here */

label {
  font-weight: normal;
}

.form-control {
  display: inline;
  width: auto;
}

h2, .h2 {
  font-size: 18px;
}

/* my stuff */

.floating-controls {
  border-bottom: 1px solid #bababa;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f5f5f5;
}

/* event cards */
.event-cards {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-cards li {
  padding-right: 10px;
  padding-left: 10px;
}

.event-cards li h2 {
  margin-bottom: 6px;
}

.event-cards li .card {
  border: 1px solid #bababa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0 18px 16px;
}

.event-cards li.top-event .card {
  border-color: #2BA5FF;
}

.event-cards li .event-venue {
  margin-bottom: 2%;
  font-size: 0.9em; 
}

.event-cards li date {
  margin-bottom: 4%; 
  display: block;
  font-size: 0.9em;
}

.event-cards li span.glyphicon {
  margin-right: 5px;
}

.event-cards li span.glyphicon-map-marker {
  left: -1px;
}

.event-cards li .thumbnail {
  margin-bottom: 3px;
}

.event-cards li .event-people-registered {
  font-size: 0.9em;
  display: none;
}

.event-cards li .event-days-left {
  font-size: 0.9em;
  display: none;
}

/* single event modal */
.single-event.modal {
  display: block;
  overflow-y: auto;
  background: rgba(0,0,0,0.2);
}

.single-event h2 {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 21px;
}

.single-event .event-venue {
  margin-bottom: 2px;
  font-size: 0.9em; 
}

.single-event date {
  margin-bottom: 2px; 
  display: block;
  font-size: 0.9em;
}

.single-event img {
  margin-bottom: 12px;
}

.single-event p {
  margin-bottom: 5px;
  color: #505050;
}

.single-event .event-speakers {
  color: #505050;
}

.single-event .event-speakers span {
  color: #333;
}

.single-event .modal-head {
  padding: 17px 17px 15px;
}

.single-event .modal-body {
  padding: 17px;
}

.single-event .modal-footer {
  padding: 17px;
  text-align: left;
}

.single-event .progress {
  height: 24px;
  margin-bottom: 9px;
}

.single-event .progress-bar {
  line-height: 24px;
  font-size: 13px;
}

.single-event .event-people-registered {
  font-size: 0.9em;
}

.single-event .event-days-left {
  font-size: 0.9em;
  margin-bottom: 4px;
}

.single-event .btn {
  width: 100%;
}

.single-event span.glyphicon {
  margin-right: 5px;
}

.single-event span.glyphicon-map-marker {
  left: -1px;
}